<div class="container">
  <h1 class="title has-text-centered">Plants Index</h1>

  <div class="columns is-multiline">
    <% @plants.each do |plant| %>
      <div class="column is-one-quarter">
        <div class="card has-text-centered">
          <div class="card-image">
            <figure class="image is-square ">
              <% if plant.image_url.present? %>
                <%= link_to plant_path(plant.id) do %>
                  <%= image_tag plant.image_url, alt: plant.common_name %>
                <% end %>
              <% else %>
                <p>No image available.</p>
              <% end %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">
                  <%= link_to plant.common_name, plant_path(plant) %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
