// Sassy
@use "bulma";

// rails dartsass:build

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: url('/assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.square-card {
  position: relative;
  width: 100%;          /* Full width of the container */
  padding-top: 100%;    /* Height is the same as the width, making it square */
  overflow: hidden;     /* Prevents content from spilling outside the card */
}

.square-card .image {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain; /* Ensures that the aspect ratio of the image is maintained */
}

.square-card .card-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}

.media-content {
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: left;
  height: 100%;
}

.text-wrapper {
  text-align: left;
  max-width: 90%;
}

.bubbly-heading {
  font-family: 'Pacifico', cursive;
}